<ul>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Name" ng-model="searchName">
      </div>
    </div>
  </form>

  <li class="new-user" ng-class="{'edit': editUserId === 'newUser'}">
    <div ng-include="'scripts/core/users/edit-user-form.tpl.html'" ng-if="editUserId === 'newUser'"></div>
    <div class="add-user">
      <a ng-click="openUserForm('newUser')" ng-hide="editUserId === 'newUser'"><i class="fa fa-plus fa-2x"></i></a>
    </div>
  </li>

  <li class="title">

    <div class="col-lg-2">
      <a ng-click="sortUsers('firstName')">First Name</a>
      <span class="sort-order" ng-show="orderUser.predicate === 'firstName'"
            ng-class="{reverse: orderUser.reverse}"></span>
    </div>

    <div class="col-lg-2">Last Name</div>
    <div class="col-lg-2">
      <a ng-click="sortUsers('birthDay')">Birth Day</a>
      <span class="sort-order" ng-show="orderUser.predicate === 'birthDay'"
            ng-class="{reverse: orderUser.reverse}"></span>
    </div>

    <div class="col-lg-1">Type</div>
    <div class="col-lg-1">Company</div>
    <div class="col-lg-2">Email</div>

  </li>

  <li class="user-content" ng-class="{'edit': editUserId === user.id}" ng-controller="myApp.Users.userCtrl"
      ng-repeat="user in users  | orderBy: orderUser.predicate: orderUser.reverse | filter: searchName">

    <div ng-include="'scripts/core/users/edit-user-form.tpl.html'" ng-if="editUserId === user.id"></div>
    <div class="row" ng-hide="editUserId === user.id">
      <div class="col-lg-2">
        {{ user.firstName }}
      </div>
      <div class="col-lg-2">
        {{ user.lastName }}
      </div>
      <div class="col-lg-2">
        {{ user.birthDay | date:'dd.MM.yyyy' }}
      </div>
      <div class="col-lg-1">
        {{ userRole[user.type] }}
      </div>
      <div class="col-lg-1">
        {{ userCompany.name }}
      </div>
      <div class="col-lg-2">
        {{ user.mail }}
      </div>
      <div class="col-lg-2 buttons">
        <a class="edit-button" ng-click="openUserForm(user.id)"><i
          class=" fa fa-pencil-square-o fa-2x"></i></a>
        <a ng-click="deleteUser(user)"><i class="fa fa-trash-o fa-2x"></i></a>
      </div>
    </div>
  </li>
</ul>
